<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.css" />
    <title>Joke Generator</title>
</head>
<body>
   <div>
        <h1>Side-Splittingly Funny Joke Generator!</h1>
            <div>
                <div id="setup">
                    <h2><%= setup %></h2>
                </div>
                <div id="punchline">
                    <h2><%= punchline %> </h2>
                </div>
            </div>
            <div id="footer_div">
                <form action="/">
                    <button class="button-41" role="button" type="submit">Next Joke</button>
                </form>
                <footer>
                    <p>Image by <a href="http://vecteezy.com">vecteezy</a>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>